<html>
  <body>
    <!-- Formularios -->
    <div class="contenedor-formularios">
      <!-- Links de los formularios -->
      <ul class="contenedor-tabs">
        <li class="tab tab-segunda active">
          <a href="">Iniciar Sesión</a>
        </li>
        <li class="tab tab-primera">
          <a routerLink="/register">Registrarse</a>
        </li>
      </ul>

      <!-- Contenido de los Formularios -->
      <div class="contenido-tab">
        <h1>Iniciar Sesión</h1>
        <form [formGroup]="formulario">
          <div class="contenedor-input">
            <input
              type="text"
              required
              placeholder="Usuario *"
              formControlName="usuario"
            />
          </div>

          <div class="contenedor-input">
            <input
              type="password"
              required
              placeholder="Password *"
              formControlName="password"
            />
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            value="Iniciar Sesión"
            [disabled]="!formulario.valid"
            routerLink="/inicio"
          >
            Iniciar Session
          </button>
        </form>
        <!-- Iniciar Sesion -->
      </div>
    </div>
  </body>
</html>
