#botones #b1 {
  width: 280px;
}

#imgprevia {
  border: 1px solid #3361ff;
  height: 280px;
  width: 280px;
  color: #fff;
  background: #3f4350;
}
#imgprevia img {
  margin-left: 0px;
}
#buscador {
  width: 900px;
  border: 2px solid #3361ff;
  margin-left: 100px;
}
#img {
  border-radius: 5px;
}
