<app-header></app-header>
<div class="container mt-3">
  <h2 class="text-center">Peliculas</h2>
  <div class="row mt-3">
    <div class="card col-sm-4" style="width: 18rem;">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500/gbw7Tm7SUyiTMhI2B8yHk4OcT9I.jpg"
        height="220"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">El profesional</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card col-sm-4" style="width: 18rem;">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500/sddV6vaUC6x37icJS3opIXTXB07.jpg"
        height="220"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">STAR TREK</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card col-sm-4" style="width: 18rem;">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg"
        height="220"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">AD ASTRA</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card col-sm-4 mt-3" style="width: 18rem;">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500//f5F4cRhQdUbyVbB5lTNCwUzD6BP.jpg"
        height="220"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">JOKER</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card col-sm-4 mt-3" style="width: 18rem;">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500//oLma4sWjqlXVr0E3jpaXQCytuG9.jpg"
        height="220"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Jumanji: The Next Level</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card col-sm-4 mt-3" style="width: 18rem;">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500//sd4xN5xi8tKRPrJOWwNiZEile7f.jpg"
        height="220"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Cars</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
